
section {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

svg {
    margin-left: 10px;
}

.grey-text {
    color: grey;
}
.grey-text a {
    color: grey;
}

/* Bouton Valider l'achat */
.validation-btn {
    background-color: var(--color-black);
    padding: 12px 0;
    width: 100%;
    font-weight: 700;
    font-size: clamp(18px, 3vw, 25px);
    color: var(--color-white);
    border: none;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s;
}
.validation-btn a {
    color: var(--color-white);
}
.validation-btn:hover {
    cursor: pointer;
    background-color: var(--color-red);
    transition: all 0.3s;
}

/* Service client */
.client-service {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.retour-btn {
    background-color: #D9D9D9;
    padding: 10px 0;
    width: 100%;
    border: none;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all 0.3s;
}
.retour-btn:hover {
    cursor: pointer;
    background-color: grey;
    fill: white;
    color: white;
    transition: all 0.3s;
}
