<section>
    <h2>Récapitulatif</h2>

    <app-payment-total></app-payment-total>

    <p class="grey-text">Nous traitons vos données personnelles conformément à la <a href="#">Politique de confidentialité de B.A.S.E.</a>
    </p>

    <p class="grey-text">En continuant, vous acceptez les <a href="#">Conditions générales de B.A.S.E.</a></p>

    <!-- Futur bouton de validation d'achat -->
    <a class="validation-btn" routerLink="">Valider l'achat</a>

    <div class="client-service">
        <h2>Service Client</h2>

        <p class="grey-text">Besoin d’aide ? Veuillez contacter le <a href="#">Service client</a></p>

        <button class="retour-btn"><svg class="feather feather-box" fill="none" height="24" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z"/><polyline points="3.27 6.96 12 12.01 20.73 6.96"/><line x1="12" x2="12" y1="22.08" y2="12"/></svg>Options de livraison et de retour</button>
    </div>
</section>