main {
    padding: 0px 60px;
    margin: 50px 0 0 0;
    gap: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


button {
    background: var(--color-black);
    font-size: 14px;
    border: none;
    padding: 15px 40px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
}
button:hover {
    background-color: var(--color-red);
    cursor: pointer;
}

.not-found-image {
    max-width : 650px;
    height : auto;
    }

@media (max-width: 690px){
  .not-found-image{
    max-width : 500px;
    height : auto;
  }  

}

@media (max-width: 520px){
    .not-found-image{
      max-width : 400px;
      height : auto;
    }  
  
  }

  @media (max-width: 420px){
    .not-found-image{
      max-width : 300px;
      height : auto;
    }  
  
  }
  