h3 {
    font-size: clamp(30px, 3vw, 20px);
    font-weight: bold;
    margin-top: 60px;
}

div {
    display: flex;
    border: 2px solid red;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}