<main>

    <h3>Commande confirmée !</h3>

    <p>Merci
        {{this.paymentService.currentClientStorage.client_firstName}} {{this.paymentService.currentClientStorage.client_lastName}},
        vous allez recevoir un mail de confirmation à
        l'adresse suivante :</p>

    <p>{{this.paymentService.currentClientStorage.client_mailAdress}}</p>

    <p>Votre commande sera envoyée à l'adresse : </p>

    <p>{{this.paymentService.currentClientStorage.billing_adress}}, {{this.paymentService.currentClientStorage.billing_city}} {{this.paymentService.currentClientStorage.billing_postCode}}</p>

    <p>Récapitulatif de la commande</p>

    <p>Nombre d'articles {{this.cartService.productQuantity}}</p>
    <p>Noms des articles</p>
    <p>Cout total de la commande : {{(this.cartService.totalPrice)*(1+0.02)| currency:'€': 'code' : '1.2-2' :'fr'}}</p>

</main>