<div class="basket-total-facturation flex column">
    <p class="basket-little-title">Total</p>
    <div class="basket-subtotal flex">
        <p>Sous-Total</p>
        <p>96,00€ </p>
    </div>
    <div class="basket-delivery-total flex">
        <p>Livraison</p>
        <p>0,00€</p>
    </div>
    <hr class="divider-total-facturation">
    <div class="basket-total flex">
        <p><strong>Total (TVA incluse)</strong></p>
        <p><strong>96,00€</strong></p>
    </div>
    <button class="basket-order-btn"><a routerLink="/payment">Commander</a></button>
</div>