/* Style des boutons */
svg {
    min-width: 40px;
}
button {
    background-color: rgba(000, 000, 000, 0);
    border: none;
}

img {
    width: 30vw;
    height: 400px;
    object-fit: cover;
}

.flex {
    display: flex;
}

/* Boutons */
.previous-btn-carousel:hover,
.next-btn-carousel:hover {
    cursor: pointer;
    transition: transform 0.3s;
}
.previous-btn-carousel:hover {
    transform: translateX(-8px);
    transition: transform 0.3s;
}
.next-btn-carousel:hover {
    transform: translateX(8px);
    transition: transform 0.3s;
}

/* Section */
.carousel {
    margin-top: 39px;
    justify-content: center;
    align-items: center;
    gap: 38px;
}

/* Conteneur de tous les produits */
.product-container {
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
    gap: 20px;
}

@media (max-width: 850px) {

    .carousel {
        gap: 5px;
    }

    img {
        width: 60vw;
        height: 50vh;
        object-fit: cover;
    }

}