svg {
    min-width: 40px;
}

button {
    background-color: rgba(000, 000, 000, 0);
    border: none;
}

.flex {
    display: flex;
}

.carousel {
    margin-top: 39px;
    justify-content: center;
    align-items: center;
    gap: 38px;
}
.cache-carousel-two {
    overflow: hidden;
}

.carousel-clothe-slide {
    list-style-type: none;
}

.carousel-clothe-slide img {
    width: 30vw;
    height: 300px;
    object-fit: cover;
}

/* BOUTONS */
.previous-btn-carousel:hover,
.next-btn-carousel:hover {
    cursor: pointer;
    transition: transform 0.3s;
}

.previous-btn-carousel:hover {
    transform: translateX(-8px);
    transition: transform 0.3s;
}
.next-btn-carousel:hover {
    transform: translateX(8px);
    transition: transform 0.3s;
}


/* News */

.all-carousel-items-two {
    display: inline-flex;
    list-style-type: none;
    margin: 20px;
    padding: 10px;
}  


@media (max-width: 850px) {

    .carousel {
        gap: 5px;
    }

    .display-none-mobile {
        display: none;
    }

    .carousel-clothe-slide img {
        width: 60vw;
        height: 50vh;
        object-fit: cover;
    }


}