<div class="carousel-meilleures-ventes flex">

    <!-- Bouton retour -->
    <svg class="previous-btn-homepage-carousel" height="47" style="enable-background:new 0 0 512 512;"
        version="1.1" viewBox="0 0 512 512" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="_x37_16-_back__x2C__left_arrow__x2C__direction__x2C_">
            <g>
                <path
                    d="    M366.277,26.814L154.719,238.271c-10.729,10.221-10.729,26.192,0,36.413l211.559,211.455"
                    style="fill:none;stroke:#000000;stroke-width:13.4167;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:2.6131;" />
            </g>
        </g>
        <g id="Layer_1" />
    </svg>

    <!-- Articles -->
    <ul class="flex">
        <li class="carousel-meilleures-ventes-clothe-slide"><a href="article.html"><img src="img/articles/pexels-anna-nekrashevich-8532616.jpg"
                alt="T-shirt noir"></a></li>
        <li class="carousel-meilleures-ventes-clothe-slide display-none-mobile"><a href="article.html"><img
                src="img/articles/gez-xavier-mansfield-b34E1vh1tYU-unsplash.jpg" alt="Veste noire"></a></li>
        <li class="carousel-meilleures-ventes-clothe-slide display-none-mobile"><a href="article.html"><img
                src="img/articles/haryo-setyadi-acn5ERAeSb4-unsplash.jpg" alt="T-shirt blanc"></a></li>
    </ul>

    <!-- Bouton next -->
    <svg class="next-btn-homepage-carousel" height="47" style="enable-background:new 0 0 512 512;"
        version="1.1" viewBox="0 0 512 512" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="_x37_17-_next__x2C__arrow__x2C__right_arrow__x2C__direction__x2C_">
            <g>
                <path
                    d="    M146.662,26.814L358.221,238.27c10.755,10.222,10.755,26.193,0,36.414L146.662,486.139"
                    style="fill:none;stroke:#000000;stroke-width:13.4167;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:2.6131;" />
            </g>
        </g>
        <g id="Layer_1" />
    </svg>
    
</div>