<!-- NOS ENGAGEMENTS -->
<section class="homepage-container container-engagements">
    <h2 class="homepage-title">Nos engagements</h2>
    <img class="engagements-img" src="assets/homepage-images/pexels-los-muertos-crew-8030147.jpg"
        alt="Confection de vêtements en coton bio">
    <div class="engagements-txt flex">
        <p>Lorem ipsum dolor sit amet consectetur. Lacus donec lobortis posuere risus pellentesque nunc. Ut ut
            euismod cras aliquam. Tellus amet dignissim urna semper enim bibendum tristique. Purus egestas nulla
            pulvinar molestie eget facilisi.</p>
        <a class="flex text-arrow know-more" routerLink="#">En savoir plus<svg class="arrow-right-homepage" height="30"
                viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                <g data-name="Layer 2" id="Layer_2">
                    <path
                        d="M22,9a1,1,0,0,0,0,1.42l4.6,4.6H3.06a1,1,0,1,0,0,2H26.58L22,21.59A1,1,0,0,0,22,23a1,1,0,0,0,1.41,0l6.36-6.36a.88.88,0,0,0,0-1.27L23.42,9A1,1,0,0,0,22,9Z" />
                </g>
            </svg></a>
    </div>

</section>