svg {
    margin-left: 10px;
}

/* Service client */
.client-service {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.retour-btn {
    background-color: #D9D9D9;
    padding: 10px 0;
    width: 100%;
    border: none;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all 0.3s;
}
.retour-btn:hover {
    cursor: pointer;
    background-color: grey;
    fill: white;
    color: white;
    transition: all 0.3s;
}

.grey-text {
    color: grey;
}
.grey-text a {
    color: grey;
}