<!-- THEMES -->
<section id="categorie_femme">

    <!-- 100% POLYESTER RECYCLÉ -->
    <div class="polyester_recycle flex bg-img_param">
        <a routerLink="/all-categories/Polyester">
            <h3>Nos pièces en polyester 100% recyclé</h3>
        </a>
    </div>

    <!-- VÊTEMENTS HIVER -->
    <div class="vetements_hiver flex margin_btw_div ">
        <div class="vtmts_soiree flex bg-img_param vtmts_hiver_dim">
            <!-- Vêtements de soirée -->
            <a routerLink="/all-categories/Vêtements de soirée">
                <h3>Vêtements de soirée</h3>
            </a>
        </div>
        <!-- Pièces chaudes pour l’hiver -->
        <div class="vtmts_chauds flex  bg-img_param vtmts_hiver_dim">
            <a routerLink="/all-categories/Pulls">
                <h3>Pièces chaudes pour l’hiver</h3>
            </a>
        </div>

    </div>

    <!-- 100% COTON BIO -->
    <div class="coton_bio flex margin_btw_div bg-img_param">
        <a routerLink="/all-categories/Coton">
            <h3>Nos vêtements en Coton bio</h3>
        </a>
    </div>

</section>
