<main class="basket">

    <h2 class="basket-title">Panier</h2>

    <section class="basket-container">

        <app-cart-all-products></app-cart-all-products>

        <div class="right-side-order">
            <app-cart-total></app-cart-total>
            <app-cart-payment-infos></app-cart-payment-infos>
            <app-cart-promo-code></app-cart-promo-code>
            
            <!-- Infos légales -->
            <p class="legal-infos">Délai de rétractation de 30 jours, voir <a href="#">conditions de retours & remboursements</a></p>
        </div>

    </section>

</main>