<form [formGroup]="paymentForm">

    <!-- Informations client -->
    <div>
        <h3>Mes informations</h3>

        <!-- Adresse mail -->
        <div>
            <label for="client_mailAdress">Adresse mail *</label>
            <input type="text" id="client_mailAdress" formControlName="client_mailAdress">
        </div>

        <!-- mot de passe -->
        <div>
            <label for="client_password">Mot de passe *</label>
            <input type="text" id="client_password" formControlName="client_password">
        </div>

        <!-- Nom -->
        <div>
            <label for="client_lastName">Nom *</label>
            <input type="text" id="client_lastName" formControlName="client_lastName">
        </div>

        <!-- Prénom -->
        <div>
            <label for="client_firstName">Prénom *</label>
            <input type="text" id="client_firstName" formControlName="client_firstName">
        </div>

        <!-- Date de naissance -->
        <div>
            <label for="client_birthDate">Date de naissance *</label>
            <input type="text" id="client_birthDate" formControlName="client_birthDate">
        </div>

        <!-- Numéro de téléphone -->
        <div>
            <label for="client_phoneNumber">Numéro de téléphone</label>
            <input type="text" id="client_phoneNumber" formControlName="client_phoneNumber">
        </div>

    </div>

    <!-- Adresse de facturation -->
    <div>

        <h3>Adresse de facturation</h3>

        <!-- Adresse -->
        <div>
            <label for="billing_adress">Adresse *</label>
            <input type="text" id="billing_adress" formControlName="billing_adress">
        </div>

        <!-- Code postal -->
        <div>
            <label for="billing_postCode">Code postal *</label>
            <input type="text" id="billing_postCode" formControlName="billing_postCode">
        </div>

        <!-- Ville -->
        <div>
            <label for="billing_city">Ville *</label>
            <input type="text" id="billing_city" formControlName="billing_city">
        </div>


    </div>

    <!-- Livraison standard -->
    <div>

        <h3>Livraison standard</h3>

        <p>0,00 € - 3-5 jours ouvrés</p>

    </div>

    <!-- Paiement -->
    <div>

        <h3>Paiement</h3>

        <!-- Numéro de carte -->
        <div>
            <label for="card_number">Numéro de carte *</label>
            <input type="text" id="card_number" formControlName="card_number">
        </div>

        <!-- Date d'expiration -->
        <div>
            <label for="card_expiration">Date d'expiration *</label>
            <input type="text" id="card_expiration" formControlName="card_expiration">
        </div>

        <!-- CVV/CVC -->
        <div>
            <label for="card_cvv">CVV/CVC *</label>
            <input type="text" id="card_cvv" formControlName="card_cvv">
        </div>

    </div>

    <button type="submit" (click)="onPay()">Valider l'achat</button>

</form>