<section id="categorie_femme">

    <!-- CATÉGORIES TYPE INSTAGRAM -->
    <div class="categories_type_insta margin_btw_div">

        <!-- Tops -->
        <div class="tops flex bg-img_param">
            <a routerLink="/all-categories/pull">
                <h3>Tops</h3>
            </a>
        </div>

        <!-- Bas -->
        <div class="bas flex bg-img_param">
            <a href="#">
                <h3>Bas</h3>
            </a>
        </div>

        <!-- Robes -->
        <div class="robes flex bg-img_param">
            <a routerLink="/all-categories/robe">
                <h3>Robes</h3>
            </a>
        </div>


        <!-- Vestes -->
        <div class="vestes flex bg-img_param">
            <a href="#">
                <h3>Vestes</h3>
            </a>
        </div>

        <!-- Manteaux -->
        <div class="manteaux flex bg-img_param">
            <a href="#">
                <h3>Manteaux</h3>
            </a>
        </div>

        <!-- Tout -->
        <div class="tout flex bg-img_param">
            <a href="#">
                <h3>Tout</h3>
            </a>
        </div>

    </div>

</section>
