a {
    text-decoration: none;
}

.flex {
    display: flex;
}

.categories_type_insta {
    gap: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);

}

#categorie_femme h3 {
    font-size: clamp(23px, 3vw, 40px);
    color: white;
    /* offset-x | offset-y | blur-radius | color */
    text-shadow: 1px 1px 5px black;
    text-align: center;
}

/* MARGIN between div */
.margin_btw_div {
    margin: 50px auto;
}

/* Background image parametres */
.bg-img_param {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}

.categories_type_insta div {
    height: 430px;
}

.tops {
    background-image: url(/assets/img/all-categories-images/femme_tops.jpeg);
}

.bas {
    background-image: url(/assets/img/all-categories-images/femme_bas.jpeg);
}

.robes {
    background-image: url(/assets/img/all-categories-images/femme_robes.jpeg);
}

.vestes {
    background-image: url(/assets/img/all-categories-images/femme_vestes.jpeg);
}

.manteaux {
    background-image: url(/assets/img/all-categories-images/femme_manteaux.jpeg);
}

.tout {
    background-image: url(/assets/img/all-categories-images/femme_tout.jpeg);
}
