section {
    display: flex;
}

section img {
    width: 80%;
    object-fit: cover;
}

.photo-miniature {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.photo-miniature img {
    object-fit: cover;
    height: 180px;
    cursor: pointer;
}

.photo-miniature img:hover {
    opacity: 0.8;
}

@media (max-width: 850px) {

    section {
        width: 100%;
    }
    
}

@media (max-width: 550px) {

    section {
        flex-direction: column-reverse;
        gap: 15px;
        width: 100%;
    }

    section img {
        width: 100%;
    }

    .main-image {
        height: 300px;
    }

    .photo-miniature {
        flex-direction: row;
    }

    .photo-miniature img {
        width: 50px;
        height: 50px;
        min-height: 50px;
        min-width: 50px;
    }



}