a {
    text-underline-offset: 3px;
    font-weight: bold;
    margin-bottom: 3px;
    color: var(--color-black);
}

div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.avis-5stars {
    display: flex;
    flex-direction: row;
}

.rating-star {
    height: 20px;
}

.isfilled {
    fill: var(--color-black)
}

.isEmpty {
    fill: var(--color-white);
    stroke: black;
    stroke-width: 30px;
}