li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 12px;
    gap: 5px;
}

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-start; 
}

svg {
    margin-bottom: 10px;
    height: 25px;
}

.triProducts {
    margin: 20px 0;
}
  

/* Toggle glisse vers le bas */
.toggle-icon {
    transition: transform 0.30s;
    transform: rotate(0deg);
    margin-bottom: -4px;
}

.toggle-icon:hover  {
    cursor: pointer;
    transition: transform 0.30s;
    transform: rotate(-180deg);
}

@media (max-width: 850px) {

    ul {
        flex-wrap: wrap;
    }

    li {
        font-size: 15px;
    }

    svg {
        height: 20px;
    }

}